/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
}

header {
    background-color: #333;
    color: #fff;
    padding: 50px;
    text-align: center;
}
nav {
    background-color:darkviolet;
    padding: 10px;
    color:#fff;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content:space-around;
}

nav ul li {
    display: inline-block;
    margin-right: 10px;
    text-align: center;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
/* Estilos para las tarjetas de juegos */
.juegos-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

.juego {
    background-color: rgba(138, 43, 226, 0.5); /* Color violeta traslúcido */
    border-radius: 10px;
    width: 45%; /* Ancho de cada tarjeta */
    margin-bottom: 20px;
    padding: 20px;
    box-sizing: border-box;
    display: flex; /* Mostrar elementos en línea */
}

.juego img {
    width: 30%; 
    border-radius: 10px;
    margin-right: 20px;
    flex-shrink: 0; 
}

.juego-info {
    width: 70%; 
    display: flex; 
    flex-direction: column; 
}

.juego h2 {
    margin-top: 0;
}

.juego p {
    margin-bottom: 5px;
}

.precio {
    margin-top: auto; 
}